<h1> Edit Animal </h1>
<%= form_for @animal do |f| %>
  <%= f.label :species_name %>
  <%= f.text_field :species_name %>
  <%= f.label :population_size %>
  <%= f.number_field :population_size %>
  <%= f.label :average_weight %>
  <%= f.text_field :average_weight %>
  <%= f.submit %>
<% end %>

<%= form_tag @animal, method: "delete" do %>
  <%=  %>
<% end %>
